<div class="mainpage">
  <h1>Chessmaster3k</h1>
  <div class="fen-display">FEN: {{currentFen}}</div>
  <div class="board-container">
    <!-- White Board -->
    <iframe
      id="whiteBoard"
      src="/iframepage?isBlack=false"
      frameborder="0"
      class="board"
    ></iframe>

    <!-- Black Board -->
    <iframe
      id="blackBoard"
      src="/iframepage?isBlack=true"
      frameborder="0"
      class="board"
    ></iframe>
  </div>
  <button (click)="resetGame()">Create new game</button>
   <div class="fen-input-container">
    <input
      type="text"
      placeholder="Enter FEN"
      class="fen-input"
      [(ngModel)]="customFen"
    />
    <button (click)="setCustomFEN()">Set Custom FEN</button>
  </div>
</div>
